<%- include('header') %>
    <h1><%= title %></h1>
    <p>Brap brap to <%= title %></p>
    <p>
        <% for (item of data) { %>
            <%= item.key %>
            <%= item.values %>
        <% } %>
    </p>
<%- include('footer') %>
